/* Header */
#navbar-container {
    margin-left: 0px;
}

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 3px;
    border-color: black;
    margin-bottom: 0px;
}
.navbar-brand {
    padding-top: 4px;
}
.navbar-brand h1{
    margin: 0;
    color: black;
}
#navbar-collapse {
    padding: 0;
}
#nav-list {
    background-color: white;
    margin: 1px;
}

/* Header End */

#main-body {
    width: 100%;
}

#main-text {
    background-color: gray;
}